@import url(/vista/css/style.css);
@import url(/vista/css/login.css);

body {
  background-color: var(--color-fondo);
  color: var(--color-blanco);
}

.registro {
  position: relative;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow-y: hidden;
}

.registro__logo {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 60px;
}

.registro__contenedor {
  max-width: 800px;
  margin: auto;
}

.registro__titulo {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 30px;
}

.registro__subtitulo {
  font-size: 20px;
  color: var(--color-subtitulos);
  margin-bottom: 30px;
  margin-left: 40px;
}

.registro__formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 50px;
}

.registro__grupo {
  display: flex;
  flex-direction: column;
}

.registro__etiqueta {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}

.registro__input {
  width: 40vh;
  height: 50px;
  padding: 30px;
  background-color: var(--color-fondo-inputs);
  color: var(--color-blanco);
  border: 2px solid var(--color-secundario2);
  border-radius: 6px;
  font-size: 18px;
  outline: none;
}

.registro__boton-contenedor {
  margin-top: 30px;
  text-align: center;
}

.registro__boton {
  background-color: var(--color-secundario1);
  color: var(--color-blanco);
  padding: 25px 45px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  text-decoration: none;
}

.registro__boton:hover {
  background-color: var(--color-hovers);
}

.registro__opcion {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
}

.registro__opcion a {
  font-weight: bold;
  color: var(--color-blanco);
  text-decoration: none;
}

/* estilo carga de archivos */
.input-file {
  display: none;
}

.input-file-label {
  display: inline-block;
  background-color: #333;
  color: #ccc;
  padding: 10px 20px;
  border: 2px solid var(--color-secundario2);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  font-family: sans-serif;
  margin-top: 40px;
}

.input-file-label:hover {
  background-color: var(--color-principal);
  color: #000;
}

.file-name {
  display: block;
  margin-top: 10px;
  color: #ccc;
  font-style: italic;
}

