*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root{
  --color-principal:#00AF00;
  --color-secundario1:#007832;
  --color-secundario2:#328935;
  --color-fondo:#1e1e1e;
  --color-fondo-inputs:#4d4d4d;
  --color-blanco:#ffff;
  --color-subtitulos:#cccccc;
  --color-hovers:rgba(255, 255, 255, 0.5);;
}